*{
	margin:0;
	padding:0;
}
#wrapper{
    width:900px;
    margin:auto;
}
	#status{
		background-color:#00CC99;
		max-height: 100px;
		overflow: hidden;
	}
		#status p{
			display: inline-block;
			margin-right:100px;
			position: relative;
			top:10px;
			left:300px;
			font-size: 20px;
			max-width: 300px;
		}
		#logout{
			position: relative;
			left:350px;

		}

		#status img{
			height: 100px;
			border-right:2px solid white;
			vertical-align: top;
		}

	.issue_text{
		color:red;
		font-size: 20px;
	}
	h2{
		padding:12px;
	}
   div{
       margin:12px;
   }
    #incident_table{
        border:2px solid black;
        padding: 20px;

    }
       #incident_table table th{
           font-size:22px;
           padding:10px;
       }
       #incident_table table tr td{
           font-size: 15px;
           text-align: center;
           border:1px solid black;
           padding: 9px 19px 9px 19px;
       }
       #incident_table .witness_button, #incident_table .link_button{
           background-color: #8585FF;
                   padding: 3px 15px 3px 15px;

       }
    #login_area{
    	border:2px solid black;
    	width: 400px;
    	margin:auto;
    }
	#add_incident_area, #registration_form{
		border:2px solid black;
        width:500px;
        margin:auto;

	}
	    input{
	        height:23px;
	    }
        .submit_form{
            position: relative;
            left:353px;
            top:-5px;
        }
		label{
			display: block;
			padding:9px 9px 9px 39px;
		}
	#registration_form form{
		padding:19px 0px 0px 6px;
	}
       #registration_form input{
           height:23px;
       }
