*{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
	#wrapper{
		width:900px;
		margin:auto;
	}
		#controls{
			background-color: silver;
		}
			#controls #logo{
				font-size:30px;
				display: inline-block;
				margin-left:30px;
				vertical-align: bottom;
			}
			#controls #greeting{
				font-size:15px;
				margin-left:466px;
				display: inline-block;
				vertical-align: bottom;
			}
			#controls #logout{
				vertical-align: bottom;
				margin-left:111px;
				font-size:15px;
				display: inline-block;
			}
		.message{
			padding:11px;
			margin:11px 0px 11px 0px;
			border:2px solid black;
		}
			.message p{
				width:666px;
				display: inline-block;
			}
		.reply{
			min-height:50px;
			min-width: 50px;
			background-color: blue;
		}
			.reply_area form{
				display: inline-block;
			}
			.start_reply{
				display: inline-block;
			}
		.comment{
			position: relative;
			left:30px;
		}