*{
	margin:0;
	padding:3px;
}
	#wrapper{
		width:900px;
		margin-left:50px;
		border: 2px solid black;	
	}
		#login_area, #registration{
			display: inline-block;
			width: 400px;
			vertical-align: top;
			border: 2px solid black;
			padding:10px;
			margin: 10px;
		}
		#header a, #header p{
			display: inline-block;
		}
		table, table td{
			border: 2px solid black;
			padding: 15px;
			margin: auto;
		}