<!DOCTYPE html>
<html>
<head>
  <title>NinjaGoldApp</title>
  <script type="text/javascript" src="/jquery.js"></script>
  <script type="text/javascript" src="/redirect.js"></script>
  <link rel="stylesheet" type="text/css" href="/jason.css">  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
